[global_config]
  scroll_tabbar = True
  enabled_plugins = ActivityWatch, InactivityWatch, Logger, CustomCommandsMenu
  always_split_with_profile = True
[keybindings]
  split_horiz = <Primary><Alt>h
  split_vert = <Primary><Alt>v
  page_up = Page_Up
  page_down = Page_Down
  switch_to_tab_1 = <Primary>exclam
  switch_to_tab_2 = <Primary>at
  switch_to_tab_3 = <Primary>numbersign
  switch_to_tab_4 = <Primary>dollar
  switch_to_tab_5 = <Primary>percent
  switch_to_tab_6 = <Primary>asciicircum
  switch_to_tab_7 = <Primary>ampersand
  switch_to_tab_8 = <Primary>asterisk
  switch_to_tab_9 = <Primary>parenleft
  switch_to_tab_10 = <Primary>parenright
  group_all_toggle = <Super>a
  group_tab_toggle = <Super>t
  edit_tab_title = <Primary><Alt>s
  next_profile = <Primary><Alt>p
  previous_profile = <Primary><Shift><Alt>p
[profiles]
  [[default]]
    background_color = "#282a36"
    cursor_shape = ibeam
    font = MesloLGS NF 10
    foreground_color = "#94A3A5"
    scrollback_infinite = True
    disable_mousewheel_zoom = True
    palette = "#262626:#e356a7:#42e66c:#e4f34a:#9b6bdf:#e64747:#75d7ec:#efa554:#7a7a7a:#ff79c6:#50fa7b:#f1fa8c:#bd93f9:#ff5555:#8be9fd:#ffb86c"
    use_system_font = False
    title_hide_sizetext = True
  [[google_dark]]
    cursor_shape = ibeam
    font = MesloLGS NF 10
    foreground_color = "#EEEEEE"
    scrollback_infinite = True
    disable_mousewheel_zoom = True
    palette = "#000000:#ea4335:#34a853:#fbbc05:#4285f4:#a142f4:#24c1e0:#eeeeee:#656565:#ea4335:#34a853:#fbbc05:#4285f4:#a142f4:#24c1e0:#ffffff"
    use_system_font = False
    title_hide_sizetext = True
  [[papercolor]]
    background_color = "#deddda"
    cursor_shape = ibeam
    font = MesloLGS NF 10
    foreground_color = "#5e5c64"
    scrollback_infinite = True
    disable_mousewheel_zoom = True
    palette = "#deddda:#c01c28:#008700:#8700af:#e66100:#d70087:#005f87:#241f31:#bcbcbc:#c01c28:#008700:#8700af:#e66100:#d70087:#005f87:#241f31"
    use_system_font = False
    title_hide_sizetext = True
  [[google_light]]
    background_color = "#FFFFFF"
    cursor_shape = ibeam
    font = MesloLGS NF 10
    foreground_color = "#656565"
    scrollback_infinite = True
    disable_mousewheel_zoom = True
    palette = "#ffffff:#c01c28:#34a853:#ff7800:#4285F4:#A142F4:#0486d0:#000000:#656565:#c01c28:#34a853:#ff7800:#4285F4:#A142F4:#0486d0:#000000"
    use_system_font = False
    title_hide_sizetext = True
  [[dracula_transparent]]
    background_color = "#282a36"
    background_type = transparent
    cursor_shape = ibeam
    font = MesloLGS NF 10
    foreground_color = "#94A3A5"
    scrollback_infinite = True
    disable_mousewheel_zoom = True
    palette = "#262626:#e356a7:#42e66c:#e4f34a:#9b6bdf:#e64747:#75d7ec:#efa554:#7a7a7a:#ff79c6:#50fa7b:#f1fa8c:#bd93f9:#ff5555:#8be9fd:#ffb86c"
    use_system_font = False
    title_hide_sizetext = True
  [[google_dark_transparent]]
    background_type = transparent
    cursor_shape = ibeam
    font = MesloLGS NF 10
    foreground_color = "#EEEEEE"
    scrollback_infinite = True
    disable_mousewheel_zoom = True
    palette = "#000000:#ea4335:#34a853:#fbbc05:#4285f4:#a142f4:#24c1e0:#eeeeee:#656565:#ea4335:#34a853:#fbbc05:#4285f4:#a142f4:#24c1e0:#ffffff"
    use_system_font = False
    title_hide_sizetext = True
  [[papercolor_transparent]]
    background_color = "#deddda"
    background_type = transparent
    cursor_shape = ibeam
    font = MesloLGS NF 10
    foreground_color = "#5e5c64"
    scrollback_infinite = True
    disable_mousewheel_zoom = True
    palette = "#deddda:#c01c28:#008700:#8700af:#e66100:#d70087:#005f87:#241f31:#bcbcbc:#c01c28:#008700:#8700af:#e66100:#d70087:#005f87:#241f31"
    use_system_font = False
    title_hide_sizetext = True
  [[google_light_transparent]]
    background_color = "#FFFFFF"
    background_type = transparent
    cursor_shape = ibeam
    font = MesloLGS NF 10
    foreground_color = "#656565"
    scrollback_infinite = True
    disable_mousewheel_zoom = True
    palette = "#ffffff:#c01c28:#34a853:#ff7800:#4285F4:#A142F4:#0486d0:#000000:#656565:#c01c28:#34a853:#ff7800:#4285F4:#A142F4:#0486d0:#000000"
    use_system_font = False
    title_hide_sizetext = True
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
      size = 900, 600
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
[plugins]
  [[CustomCommandsMenu]]
    [[[Open cur dir]]]
      enabled = True
      name = Open cur dir
      command = '''xdg-open .
'''
      position = 0
    [[[Set Linux env/ls]]]
      enabled = True
      name = Set Linux env/ls
      command = "alias l='ls -halF --color=always --group-directories-first'"
      position = 1
    [[[Set Linux env/pty/python]]]
      enabled = True
      name = Set Linux env/pty/python
      command = '''python -c 'import pty; pty.spawn("/bin/bash")''''
      position = 2
    [[[Set Linux env/pty/python2]]]
      enabled = True
      name = Set Linux env/pty/python2
      command = '''python2 -c 'import pty; pty.spawn("/bin/bash")''''
      position = 3
    [[[Set Linux env/pty/python3]]]
      enabled = True
      name = Set Linux env/pty/python3
      command = '''python3 -c 'import pty; pty.spawn("/bin/bash")''''
      position = 4
    [[[Set Linux env/xterm-256color]]]
      enabled = True
      name = Set Linux env/xterm-256color
      command = export TERM=xterm-256color
      position = 5
