[global_config]
  scroll_tabbar = True
  title_hide_sizetext = True
  title_transmit_bg_color = "#a40000"
  enabled_plugins = Logger, ActivityWatch, InactivityWatch
  always_split_with_profile = True
[keybindings]
  split_horiz = <Primary><Alt>h
  split_vert = <Primary><Alt>v
  page_up = Page_Up
  page_down = Page_Down
  switch_to_tab_1 = <Primary>exclam
  switch_to_tab_2 = <Primary>at
  switch_to_tab_3 = <Primary>numbersign
  switch_to_tab_4 = <Primary>dollar
  switch_to_tab_5 = <Primary>percent
  switch_to_tab_6 = <Primary>asciicircum
  switch_to_tab_7 = <Primary>ampersand
  switch_to_tab_8 = <Primary>asterisk
  switch_to_tab_9 = <Primary>parenleft
  switch_to_tab_10 = <Primary>parenright
  group_all = <Super>t
  ungroup_all = <Shift><Super>t
  group_tab_toggle = <Super>g
  ungroup_tab = <Shift><Super>g
  next_profile = <Primary><Alt>p
  previous_profile = <Primary><Shift><Alt>p
[profiles]
  [[default]]
    background_color = "#282a36"
    cursor_color = "#94A3A5"
    foreground_color = "#94A3A5"
    scrollback_infinite = True
    palette = "#262626:#e356a7:#42e66c:#e4f34a:#9b6bdf:#e64747:#75d7ec:#efa554:#7a7a7a:#ff79c6:#50fa7b:#f1fa8c:#bd93f9:#ff5555:#8be9fd:#ffb86c"
  [[google_dark]]
    cursor_color = "#EEEEEE"
    foreground_color = "#EEEEEE"
    scrollback_infinite = True
    palette = "#000000:#ea4335:#34a853:#fbbc05:#4285f4:#a142f4:#24c1e0:#eeeeee:#656565:#ea4335:#34a853:#fbbc05:#4285f4:#a142f4:#24c1e0:#ffffff"
  [[papercolor]]
    background_color = "#deddda"
    cursor_color = "#005f87"
    foreground_color = "#5e5c64"
    scrollback_infinite = True
    palette = "#deddda:#c01c28:#008700:#8700af:#e66100:#d70087:#005f87:#241f31:#bcbcbc:#c01c28:#008700:#8700af:#e66100:#d70087:#005f87:#241f31"
  [[google_light]]
    background_color = "#FFFFFF"
    cursor_color = "#656565"
    foreground_color = "#656565"
    scrollback_infinite = True
    palette = "#ffffff:#c01c28:#34a853:#ff7800:#4285F4:#A142F4:#0486d0:#000000:#656565:#c01c28:#34a853:#ff7800:#4285F4:#A142F4:#0486d0:#000000"
  [[dracula_transparent]]
    background_color = "#282a36"
    background_type = transparent
    cursor_color = "#94A3A5"
    foreground_color = "#94A3A5"
    scrollback_infinite = True
    palette = "#262626:#e356a7:#42e66c:#e4f34a:#9b6bdf:#e64747:#75d7ec:#efa554:#7a7a7a:#ff79c6:#50fa7b:#f1fa8c:#bd93f9:#ff5555:#8be9fd:#ffb86c"
  [[google_dark_transparent]]
    background_type = transparent
    cursor_color = "#EEEEEE"
    foreground_color = "#EEEEEE"
    scrollback_infinite = True
    palette = "#000000:#ea4335:#34a853:#fbbc05:#4285f4:#a142f4:#24c1e0:#eeeeee:#656565:#ea4335:#34a853:#fbbc05:#4285f4:#a142f4:#24c1e0:#ffffff"
  [[papercolor_transparent]]
    background_color = "#deddda"
    background_type = transparent
    cursor_color = "#005f87"
    foreground_color = "#5e5c64"
    scrollback_infinite = True
    palette = "#deddda:#c01c28:#008700:#8700af:#e66100:#d70087:#005f87:#241f31:#bcbcbc:#c01c28:#008700:#8700af:#e66100:#d70087:#005f87:#241f31"
  [[google_light_transparent]]
    background_color = "#FFFFFF"
    background_type = transparent
    cursor_color = "#656565"
    foreground_color = "#656565"
    scrollback_infinite = True
    palette = "#ffffff:#c01c28:#34a853:#ff7800:#4285F4:#A142F4:#0486d0:#000000:#656565:#c01c28:#34a853:#ff7800:#4285F4:#A142F4:#0486d0:#000000"
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
      size = 900, 600
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
[plugins]
