[global_config]
  enabled_plugins = LaunchpadBugURLHandler, LaunchpadCodeURLHandler, APTURLHandler, CustomCommandsMenu, Logger, ActivityWatch, InactivityWatch
[keybindings]
  next_profile = <Primary><Alt>p
[profiles]
  [[default]]
    background_color = "#282a36"
    cursor_color = "#f8f8f2"
    font = Consolas
    foreground_color = "#f8f8f2"
    scrollback_infinite = True
    palette = "#262626:#e356a7:#42e66c:#e4f34a:#9b6bdf:#e64747:#75d7ec:#efa554:#7a7a7a:#ff79c6:#50fa7b:#f1fa8c:#bd93f9:#ff5555:#8be9fd:#ffb86c"
    use_system_font = False
    copy_on_selection = True
    background_image = None
  [[Light]]
    background_color = "#eee8d5"
    cursor_color = "#002b36"
    font = Consolas
    foreground_color = "#002b36"
    scrollback_infinite = True
    palette = "#073642:#d30102:#859900:#b58900:#6c71c4:#d33682:#2aa198:#839496:#586e75:#cb4b16:#859900:#b58900:#268bd2:#d33682:#2aa198:#93a1a1"
    use_system_font = False
    copy_on_selection = True
    background_image = None
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
      profile = default
    [[[window0]]]
      parent = ""
      type = Window
      size = 900, 600
[plugins]
  [[CustomCommandsMenu]]
    [[[HttpServer]]]
      enabled = True
      name = HttpServer
      command = python -m SimpleHTTPServer 80
      position = 0
    [[[lol]]]
      enabled = True
      name = lol
      command = echo 123
      position = 1
